---
name: portainer
services:
  portainer:
    image: portainer/portainer-ce:2.38.0-alpine
    container_name: portainer
    ports:
      - 9000:9000
    volumes:
      - portainer:/data
      - /run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

volumes:
  portainer:
